@media  (max-width:2600px){
    .principal-output{
        width: 500px;
        height: 800px;
    }
    .input-texto{
        height: auto;
    }
    .info-mensaje{
        position: absolute;
        width: auto;
        height: auto;
    }
    .info-mensaje h2{
        margin-top: 50px;
        font-size: 2.3rem;
    }

    .info-mensaje p{
        font-size: 1.9rem;
    }
}

@media  (max-width:1450px){
    .dark-mode,.white-mode{
        font-size: 1rem;
        width: 150px;
        height: 50px;
    }
    .icono img{
        width: 40px;
        height: 50px;
    }
    .input-texto{
        width: 500px;
        height: 260px;
        
    }
    .input-texto::placeholder{
        font-size: 2rem;
    }
    .botones{
        width: 600px;
        justify-content: center;
    }
    .principal-output{
        width: 400px;
        height: 350px;
    }
    .mensaje{
        width: 400px;
        height: 300px;
    }
    .info-mensaje h2{
        margin-top: 50px;
        font-size: 2rem;
    }

    .info-mensaje p{
        font-size: 1.5rem;
    }
    .encriptar,.desencriptar{
        height: 55px;
    }
    .encriptar p,.desencriptar p{
        font-size: 1rem;
    }
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}


@media  (max-width:1030px) {
    .principal-input{
        width: 400px;
        height: 400px;
        left: 50px;
    }
    .input-texto{
        width: 600px;
        height: 300px;
        font-size: 1.3rem;
        
    }
    .botones{
        width: 600px;
        justify-content: center;
    }
    .encriptar,.desencriptar{
        width: 290px;
        height: 50px;
    }
    .encriptar p,.desencriptar p{
        font-size: .9rem;
    }
    .principal-output{
        width: 260px;
        height: 300px;
        position: absolute;
        top: 100px;
    }
    .mensaje{
        width: 200px;
        height: 300px;
        position: absolute;
        right: 50px;
        font-size: 1.3rem;
    }
    .info-mensaje{
        height: 250px;
    }
    .info-mensaje h2{
        font-size: 1.4rem;
    }
    .info-mensaje p{
        font-size: 1rem;
    }
    
    .container-copiar{
        
        height: fit-content;
        margin-bottom: 20px;
        position: absolute;
        bottom: 0;
        left: 0;

   
        
    }
    .copiar{
        margin-bottom: 20px;
        height: 50px;
        width: 120px;
        font-size: 1rem;
   
        
     
  
    }
    footer{
        position: absolute;
        bottom: 0;
       }
 }

@media screen and (max-width: 770px) {

    body{
       width: 100vw;
       height: 100%;
       position: relative;
   }

   .principal-input{
       width: 200px;
       position: relative;
       left: 0;
       height: 200px;
       margin: 0;
       top: 20px;
       
   }
   
   .input-texto{
       display: block;
       width: 100vw;
       left: 0;
       height: 70px;
       position: relative;
       top: 100px;
       text-align: center;
   }
   
   .botones{
       width: 100vw;
       position: relative;
       top: 100px;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
   
   }
   .encriptar p,.desencriptar p{
       font-size: 10px;
       margin-bottom: 5px;
   }
   .encriptar,.desencriptar{
       width:fit-content;
       height: 50px;
       left: 0;
       right: 0;
       border-radius: 5px;
    
   }
   .encriptar img,.desencriptar img{
       width: 20px;
       position: relative;
       left: 0;
       margin-right: 5px;
       
   }
   .principal-output{
        margin-top: 40px;
       display: block;
       width: 100vw;
       height: 150px;
       position: relative;
       left: 0;
       top: 75px;
   }
   .mensaje{
       display:block;
       height: 100px;
       width: 280px;
       position: absolute;
       left: 10px;
       font-size: 1.4rem;
   }
   .info-mensaje{
       top: 0;
       font-size: 20px;
   }
   .info-mensaje h2{
    font-size: 1rem;
   }
   .info-mensaje p{
       font-size: 10px;
   }
   .container-copiar{
       width: 100%;
       height: 70px;
       display: flex;
       justify-content: center;
  
       
   }
   .copiar{
    width: 100px;
    height: 50px;
   }
   

   footer{
       position: absolute;
       bottom: 0;
       
      }
}





@media screen and (max-width: 478px) {
       
    body{
        width: 100vw;
        height: 100%;
    }
    .icono img{
        width: 34px;
        height: 34px;
    }
    .dark-mode,.white-mode{
        width: 100px;
        height: 50px;
        font-size: 1rem;
    }

    .principal-input{
        width: 200px;
        position: relative;
        height: 250px;
        top: 20px;
        left: 0;
    }
    
    .input-texto{
        display: block;
        width: 100vw;
        height: 50px;
        position: relative;
        top: 100px;
        text-align: center;
        font-size: 1.4rem;
    }
    .input-texto::placeholder{
        font-size: 1.2rem;
    }
    
    .botones{
        width: 100vw;
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }
    .encriptar p,.desencriptar p{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .encriptar,.desencriptar{
        width:fit-content;
        height: 50px;
        left: 0;
        right: 0;
        border-radius: 5px;
     
    }
    .encriptar img,.desencriptar img{
        width: 20px;
        position: relative;
        left: 0;
        margin-right: 5px;
        
    }
    .principal-output{
        display: block;
        width: 100vw;
        height: 150px;
        background-size: contain;
        position: relative;
        
        
    }
    .mensaje{
        display:block;
        height: 50px;
        width: 280px;
        position: absolute;
        top: 0;
        text-align: center;
        font-size: 1.3rem;
        
    }
    .info-mensaje{
        top: 0;
        font-size: 20px;
    }
    .info-mensaje p{
        font-size: 10px;
    }
    .container-copiar{
        
        height: fit-content;
        margin-bottom: 20px;
        position: absolute;
        bottom: 0;
        left: 0;

   
        
    }
    .copiar{
        margin-bottom: 20px;
        height: 20px;
        width: 100px;
        font-size: 1rem;
   
        
     
  
    }
    footer{
        position: absolute;
        bottom: 0;
        margin-top: 60px;
       }
        
}
